$topbar-item-color: #bbb;
$topbar-item-border: 2px solid red;

$button-add-background: #418bff;
$button-cancel-background: #fedede;
$button-save-background: #c9fecd;

$important-background: #fff2dc;
$important-icon-color: #f5a623;
$important-icon-edit: #4a90e2;

$complete-text-color: #9b9b9b;

$border-black: 1px solid black;